@model GezondOpReis.ViewModels.MonitorDetailsViewsModel

@{
    ViewData["Title"] = "Gebruiker Details";
}

<h1>Monitor details</h1>

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">Gebruikersinformatie</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Voornaam)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Voornaam)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Naam)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Naam)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Straat)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Straat)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Huisnummer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Huisnummer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gemeente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gemeente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Postcode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Postcode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GeboorteDatum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GeboorteDatum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Huisdokter)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Huisdokter)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ContactNummer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ContactNummer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TelefoonNummer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TelefoonNummer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RekeningNummer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RekeningNummer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsActief)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsActief)
            </dd>
           
        </dl>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h5 class="card-title">Opleidingen</h5>
    </div>
    <div class="card-body">
        @if (Model.Opleidingen != null && Model.Opleidingen.Count > 0)
        {
            <div class="col-md-12">
                <ul class="list-unstyled">
                    @foreach (var opleiding in Model.Opleidingen)
                    {
                        <li class="mb-3">
                            <strong>@opleiding.Naam</strong> - @opleiding.StartDatum.ToShortDateString() tot @opleiding.EindDatum.ToShortDateString()
                        </li>
                    }
                </ul>
            </div>
        }
        

 

    </div>
</div>



<div class="card mt-3">
    <div class="card-header">
        <h5 class="card-title">Groepsreizen</h5>
    </div>
    <div class="card-body">
        @if (Model.Groepsreizen != null && Model.Groepsreizen.Count > 0)
        {
            <div class="col-md-12">
                @foreach (var groepsreis in Model.Groepsreizen)
                {
                    <dl class="row mb-3">
                        <dt class="col-sm-2">Naam:</dt>
                        <dd class="col-sm-10">@groepsreis.Naam</dd>
                        <dt class="col-sm-2">Begindatum:</dt>
                        <dd class="col-sm-10">@groepsreis.BeginDatum.ToShortDateString()</dd>
                        <dt class="col-sm-2">Einddatum:</dt>
                        <dd class="col-sm-10">@groepsreis.EindDatum.ToShortDateString()</dd>
                    </dl>
                }
            </div>
        }
        else
        {
            <p class="text-center text-muted">Geen groepsreizen beschikbaar.</p>
        }
    </div>
</div>



<div class="mt-3">
    <a asp-action="MonitorEdit" asp-route-id="@Model.Id" class="btn btn-primary">Bewerken</a> |
    <a asp-action="MonitorList" class="btn btn-secondary">Terug naar lijst</a>
</div>